body {
    font-family: 'Gothicll', sans-serif; /* Czcionka gotycka */
    padding: 20px;
    margin: 0;
    background: url('assets/tlo.webp') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(8px); /* Efekt rozmycia */
    height: 100vh; /* Ustawienie pełnej wysokości dla poprawnego wyświetlania tła */
}

/* Styl dla logo w lewym górnym rogu */
.logo {
    position: absolute; /* Przyklejony do lewego górnego rogu */
    top: 10px;
    left: 10px;
    width: 130px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Półprzezroczyste tło */
    padding: 1px 0px;
    border-radius: 50px; /* Zaokrąglenie krawędzi */
    z-index: 1000; /* Umieszcza nad innymi elementami */
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Tworzy kształt koła */
    margin-right: 10px;
}

.logo span {
    font-size: 20px;
    font-family: 'storm', sans-serif; /* Czcionka dla napisu Mściciel */
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Cień dla lepszej widoczności tekstu */
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 80%; /* Dostosowanie szerokości tabeli */
    background-color: rgba(255, 255, 255, 0.9); /* Półprzezroczyste tło dla tabelki */
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f2f2f2;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form input, form button, form select {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #45a049;
}

.finished {
    text-decoration: line-through; /* Skreślenie tekstu */
    color: gray; /* Zmiana koloru tekstu */
}

form select {
    appearance: none; /* Usuwa domyślny styl strzałki */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDEwIDEwIj48cGF0aCBkPSJNNSA3LjVsLTUtNXYtMGw1LTUiIGZpbGw9IiM2NjYiLz48L3N2Zz4='); /* Dodaje własną strzałkę */
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px; /* Zapewnienie miejsca na strzałkę */
}

/* Dodanie cienia, gdy rozwijane menu jest aktywne */
form select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

@font-face {
    font-family: 'Gothicll';
    src: url('fonts/Gothicll.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'storm';
    src: url('fonts/Storm\ Gust.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

